@charset "utf-8";
/* CSS Document */

body,html {
	font-family: sans-serif, Arial, Helvetica;
	font-size: 19px;
	color: #000000;
	widht: 100%;
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	font-weight: bold;
}

#simple {
    margin: 0;
    padding: 0;

}

#simple li {
    background: #efc692;
    border-bottom: 7px solid #fff;
    list-style: none;
    padding: 0.5em;
    text-align: center;

}

#simple li:hover {
    background: #d6f6ff;
}

#simple li a {
    color: black;
    display: block;
    text-decoration: none;
}


