body {
	background:#222;
}

/* dropdown css addition */
.sbHolder{
	top:0px;
	right:0px;
	float:right;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #FFFFCC;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #FFFFCC;
}
.sbOptions .sbGroup{
	color: #FFFFCC;
}




#componentWrapper{
	position:relative;
	width:800px;
	height:310px;
	top:50px;
	margin:0 auto;
}
 
#componentWrapper .player_thumb{
	position:absolute;
	width:200px;
	height:200px;
	top:20px;
	left:20px;
	background:#444;
	overflow:hidden;
}

#componentWrapper .player_thumb img{
	display:block;
	width:auto;
	height:100%;
}
 
 
 

/* player audio name mask for the name scroll function. */
#componentWrapper .player_mediaName_Mask{
	position:relative;
	top:7px;
	left:20px;
	float:left;
	
	width:60%;
	width: -webkit-calc(100% - 135px);
    width: -moz-calc(100% - 135px);
    width: calc(100% - 135px);
	
	height:20px;
	overflow:hidden;
	background:#333;

}

/* player audio name */
#componentWrapper .player_mediaName{
	position:absolute;
	top:1px;
	left:0px;
	white-space: nowrap;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
}

/* player audio time */
#componentWrapper .player_mediaTime{
	position:absolute;
	top:130px;
	left:40px;
	
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	
	display:none;
}

#componentWrapper .player_mediaTime_current{
	position:relative;
	top:0px;
	left:0px;
	float:left;
}

#componentWrapper .player_mediaTime_total{
	position:relative;
	top:0px;
	left:0px;
	float:left;
}

/* player holder for (previous,play/pause,next) buttons */
#componentWrapper .player_controls{
	position:absolute;
	top:240px;
	left:20px;
}

/* player previous */
#componentWrapper .controls_prev{
	position:absolute;
	top:0px;
	left:0px;
	width:30px;
	height:31px;
}

/* player play/pause */
#componentWrapper .controls_toggle{
	position:absolute;
	top:-10px;
	left:23px;
	width:44px;
	height:46px;
}

/* player next */
#componentWrapper .controls_next{
	position:absolute;
	top:0px;
	left:60px;
	width:30px;
	height:31px;
}


/* player download */
#componentWrapper .player_download{
	position:relative;
	width:25px;
	height:26px;
	float:right;
	display:none;
}


/* player shuffle */
#componentWrapper .player_shuffle{
	position:absolute;
	width:25px;
	height:26px;
	top:220px;
	left:10px;
	display:none;
}


/* player loop */
#componentWrapper .player_loop{
	position:absolute;
	width:25px;
	height:26px;
	top:220px;
	left:50px;
	display:none;
}




#componentWrapper .player_volume{
	position:absolute;
	height:26px;
	top:5px;
	left:105px;
}

/* player volume, serves as hit as well */
#componentWrapper .volume_seekbar{
	position:absolute;
	top:5px;
	left:130px;
	/* for hit */
	width:70px;
	height:26px;
	/*background:green;*/
}

#componentWrapper .volume_bg{
	position:absolute;
	top:10px;
	left:10px;
	width:50px;
	height:6px;
	background:#444;
}

#componentWrapper .volume_level{
	position:absolute;
	top:10px;
	left:10px;
	width:0px;
	height:6px;
	background:#ffffff;
}

#componentWrapper .player_volume_tooltip{
	position:relative;
	top:-19px;
	/* left is set in code */
	width:35px;
	height:16px;
	background:#333;
	display:none;
	text-align:center;
	
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
}

#componentWrapper .player_volume_tooltip p {
    font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ffffff;
	margin:0;
	line-height:18px;
}

/* player progress, serves as hit as well */
#componentWrapper .player_progress{
	position:absolute;
	top:285px;
	left:20px;
	/* for hit */
	
	width:200px;
	
	height:16px;
	/*background:green;*/
}

#componentWrapper .progress_bg{
	position:relative;
	background:#222222;
	width:100%;
	top:5px;
	height:6px;
}

#componentWrapper .load_progress{
	position:absolute;
	background:#444444;
	top:5px;
	height:6px;
}

#componentWrapper .play_progress{
	position:absolute;
	background:#ffffff;
	top:5px;
	height:6px;	
}

#componentWrapper .player_progress_tooltip{
	position:absolute;
	top:-19px;
	/* left is set in code */
	width:70px;
	height:16px;
	background:#333;
	display:none;
	text-align:center;
	
	-moz-box-shadow: 1px 1px 1px #222;
	-webkit-box-shadow: 1px 1px 1px #222;
	box-shadow: 1px 1px 1px #222;
}

#componentWrapper .player_progress_tooltip p {
    font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ffffff;
	margin:0;
	line-height:18px;
}





/* playlist holder */	
#componentWrapper .playlistHolder{
	position:absolute;
	width:800px;
	height:310px;
	top:40px;
	background:#333;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	-khtml-border-radius: 5px;
	
	-moz-box-shadow: 3px 3px 3px #111;
	-webkit-box-shadow: 3px 3px 3px #111;
	box-shadow: 3px 3px 3px #111;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#111111')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#111111');
	
	float:left;
	clear:both;
	
}

#componentWrapper .componentPlaylist{
	position:absolute;
	top:20px;
	left:265px;
	width:500px;
	height:265px;
}

#componentWrapper .playlist_inner{
	position:relative;
	top:0px;
	left:0px;
	height:100%;
}



/* playlist items */	
#componentWrapper .playlistItem{
	position:relative;
	top:0px;
	left:0px;
	clear:left;
	display:inline-block;
	
	color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	width:100%;
	
	padding:5px 0px 5px 0px;
	
	margin-bottom:5px;
	
	list-style:none;
	
	cursor:move;
	
}


#componentWrapper .playlistItem:nth-child(even){
	background: #333; 
}
#componentWrapper .playlistItem:nth-child(odd){
	background: #222; 
}

#componentWrapper .playlistItem:last-child {  
	margin-bottom:0px;
}

#componentWrapper .playlistItem a:hover{
	color:#66ffff;
	text-decoration:none;
}

#componentWrapper .playlistSelected {
	float:left;
	color: #FFFFCC;
	margin-left:5px;
	margin-top:3px;
}

#componentWrapper .playlistNonSelected {
	float:left;
	color: #ffffff;
	margin-left:5px;
	margin-top:3px;
}


/* playlist icons */
#componentWrapper .dlink {
	float:right;
}

#componentWrapper .dlink img{
	display:block;
}

#componentWrapper .plink {
	float:right;
}

#componentWrapper .plink img{
	display:block;
}

#componentWrapper .premove {
	float:right;
}

#componentWrapper .premove img{
	display:block;
}

/* preloader */
#componentWrapper .preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../media/data/loading.gif') no-repeat center center; 
}




					  

/* public functions */	
#publicFunctions{
	position: absolute;
	height:500px;
	overflow-y: scroll;
	padding: 20px;
	background:#444;
	left:0px;
	top:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#fff;
	list-style:circle;
	display:none;
}

#publicFunctions li a{
	color:#fff;
}

#publicFunctions li a:hover, #publicFunctions li .current{
	text-decoration: underline;
}






