@charset "utf-8";
/* CSS Document */

h1,h2,h3,ul,body { margin: 0px; padding: 0px;}
body,html {
	font-family: KFGQPC Uthman Taha Naskh Bold, sans, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	background-attachment: fixed;
	background-color:#FFFFFF;
	/*background-image: url(images/bgtile.png); */
	background-repeat: repeat;
}


@font-face {
    font-family: KFGQPC Uthman Taha Naskh Bold;
    src: url("file:///android_asset/wudhu/font.ttf")
}

a, a:link, a:active, a:visited {
	text-decoration: none;
	color:#FFF;
	font-weight: bold;
}
ul { list-style: none; }
h3 a:link, h3 a:active, h3 a:visited,h3 a {
	color: #fff;
}


h1 { margin-bottom: 15px; }
img {max-width: 100%;
height: 100%;
width: 100%;}

table{max-width: 100%;
height: 100%;
width: 100%;}

#header {
display:none;
}
#headbox {
	display:none;
}

h1 { padding-bottom: 5px;     padding-top: 5px;     font-size: 22px;     margin-bottom: 10px;
    text-align: center;
 border-style: solid;     border-bottom: double #666;     border-top: double;
  border-left: 0px;  border-right: 0px;  border-center: 0px;     border-radius: 0px;         font-family: "sans;georgia;arial" }

.logo{
	float: left;
	padding: 0px;
	width: 32px;
	height: 32px;
	margin-top: 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 7px;
}
.imgfloat { float: left; margin-right: 10px; }
.kotakmenu {
	padding: 5px;
	background-repeat: no-repeat;
	background-position: right center;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #0000CC;
	border-left-color: #0000CC;
	height: 40px;
	border-left-width: 5px;
	border-left-style: solid;
	background-color:#000033;
	background-image: url(images/arrowli.png);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	border-top-width: 5px;
	border-right-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #0000CC;
	border-right-color: #0000CC;
}
@media only screen and (min-width: 500px) {
  #homemenu li { float: left; width: 50%; }
}
.homemenu li{
	display:block;
	height: 32px;
}
.imgthumb {
	margin-bottom: 6px;
	border: 1px solid #fff;
	height: 32px;
	width: 32px;
}
#home {
	padding-top: 55px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}
#home h2{
	background-color: #999;
	display: block;
	padding: 5px;
	margin-bottom: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C30;
	color: #333;
}

#single {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#isi {
	padding:5px;
	background-color: #FFFFFF;

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	color: #000000;
	font-style: normal;
}
#isi h2{
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
}


.kosong{
	clear: both;
	margin: 0px;
	padding: 0px;
}
.aligncenter{
	display: block;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.alignleft{
	float: left; margin-right: 4px;
}
.alignright{	float: right;margin-left: 4px}

.kardus{
	text-align:center;
	width:100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	clear: both;
}
.navigasi{
display:none;
}
p{text-align:justify;margin:0;padding:0 0 10px}
.meta{	font-size: 11px;}


.footer{
	display:none;
}
